@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --white: #F4F4F4;
    --primary-color: #FF4747;
    --dark-bg: #141213;
    --default-dark: #222222;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

body {
    position: relative;
    background: var(--white);
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

ul {
    list-style: none;
}

#wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden    ;
}

#wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    filter: blur(10px);
    z-index: -1;
}

header {
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero {
    padding: 8rem 2.5rem;
    color: var(--white);
}

.hero-title--container {
    position: relative;
}

#hero h1 {
    font-size: 10vw;
    text-transform: uppercase;
    position: relative;
}

#hero span {
    position: absolute;
    font-size: 5vw;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    direction: rtl;
    left: -8%;
    top: 1.2%;
    font-weight: bold;
    margin-top: 1.5%;
}

#hero h1::after {
    content: ".";
    color: #78CB51;
}

#hero p {
    max-width: 80vmin;
    padding-top: 1rem;
    font-weight: 500;
}

.hero-scroll-down--cta {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-scroll-down--cta img {
    animation: scroll-down-animation 1.5s infinite ease;
}

.nav--desktop-link-container {
    display: flex;
    gap: 1rem;
}

.nav--mobile-link-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-cta--icon {
    max-width: 2.5rem;
    background: linear-gradient(rgba(238, 238, 238, 0.1), rgba(238, 238, 238, 0.1));
    border-radius: .5rem;
    padding: .5rem;
}

.nav--cta-mobile-burger {
    padding: .3rem;
    cursor: pointer;
}

.header--title {
    color: var(--white);
    font-size: 5.5vw;
    font-weight: 600;
}

.nav--cta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav--mobile-link-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 2.5rem;
    background-color: var(--default-dark);
    transition: .5s all ease;
}

.nav--mobile-link-container ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav--mobile-link-container ul li {
    font-size: 5vw;
}

.nav--mobile-link-container img {
    background: linear-gradient(rgba(238, 238, 238, 0.1), rgba(238, 238, 238, 0.1));
    border-radius: .5rem;
    padding: .7rem;
    position: absolute;
    max-width: 1.2rem;
    right: 25vmin;
    top: 7vmin;
    cursor: pointer;
}

.nav--cta-search {
    max-width: 1.5rem;
    padding: .8rem;
    cursor: pointer;
}

.hero--cta-chat {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 600;
    background-color: var(--primary-color);
}

.hero--cta-knowmore {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #989898;
    font-weight: 600;
}

.hero-background--wrapper {
    display: none;
}

.hidden {
    left: 100%;
}

.hidden-section {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(50px);
}

.show {
    transform: translateY(0px);
    opacity: 1;
}

.visible {
    left: 0;
    display: block;
}

.nav--desktop-link-container {
    display: none;
}

.nav--cta-desktop-login {
    display: none;
}

.follow-section {
    position: relative;
    color: var(--default-dark);
    padding: 8rem 2.5rem;
}

.follow-section h2 {
    font-size: 9vw;
}

.follow-section--profile-icon {
    position: relative;
    width: 40vmin;
}

.follow-section-profile-icon--container {
    position: relative;
}

.follow-section-profile-icon--container::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 40vmin;
    height: 40vmin;
    background: #C7C7C7;
    z-index: -1;
}

.follow-section-title--container {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.follow-section-title--container img {
    max-width: 9vw;
    animation: wave-animation 2.5s infinite;
}

.follow-section--show-profile {
    margin-top: .5rem;
    border: 2px solid var(--default-dark);
    color: var(--default-dark);
    background-color: var(--white);
}

.cta-btn {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}

.follow-section--show-profile:hover span {
    color: var(--white);
}

.cta-btn:hover::before {
    transform: translate(-50%, 0) scale(6);
    background: var(--default-dark);
    z-index: -1;
}

.cta-btn::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0) scale(1);
    transition: transform 350ms ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main svg {
    position: absolute;
    z-index: -1;
}

.bar {
    position: relative;
}

#circle {
    right: -40px;
    transform: scale(1.5);
}

.svg-lines--container {
    position: absolute;
    top: 40px;
    right: 100px;
    display: flex;
    gap: .5rem;
}

#plus {
    top: -60px;
    left: -50px;
    transform: scale(.3);
}

#triangle {
    display: none;
}

.follow-section--desc {
    margin-top: 1rem;
}

.follow-section .follow-section-desc--word {
    display: inline-block;
    font-size: 5vw;
    margin: 0vmin 0.5vmin;
    max-width: 80%;
    font-weight: bold;
    opacity: 0;
    transform: translateY(0px);
    transition: transform 250ms cubic-bezier(.90, .06, .15, .90), opacity 200ms ease;
}

.follow-section.show .follow-section-desc--word {
    opacity: 1;
    transform: translateY(-20px);
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 1.5rem 5rem;
        justify-content: flex-start;
        gap: 2rem;
    }

    #hero {
        position: relative;
        padding: 8rem 5rem;
    }

    #hero span {
        font-size: 3vw;
        position: relative;
        left: 0;
    }

    .header--title {
        font-size: 2vw;
        font-weight: bold;
    }

    .hero-title--container {
        display: flex;
    }

    .hero-background--wrapper {
        display: block;
        position: absolute;
        top: 50%;
        right: 30%;
        z-index: -1;
    }

    .hero-background--container {
        position: relative;
    }

    .hero-background--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
        animation: text-infinite-loop 50s infinite linear;
        max-width: 50vw;
    }

    .hero-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        max-width: 60vw;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav--cta {
        margin-left: auto;
    }

    .nav--desktop-link-container {
        display: flex;
    }

    .nav--desktop-link-container a {
        font-size: 1.1vw;
        font-weight: 600;
    }

    .nav--cta-desktop-login {
        display: block;
    }
    
    .nav--search-container {
        display: flex;
        align-items: center;
        border: 1px solid var(--white);
        color: var(--white);
        padding: .5rem 1rem;
        border-radius: .6rem;
    }

    .nav--cta-desktop-login {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
    }

    .loggedin {
        background: transparent;
    }

    .not-loggedin {
        background: var(--primary-color);
    }

    .hero-scroll-down--cta {
        font-size: 1vw;
    }

    #hero h1 {
        font-size: 7vw;
        max-width: 80%;
    }

    #hero h1::before {
        font-size: 3.5vw;
    }

    .follow-section {
        display: flex;
        justify-content: center;
    }
    
    .follow-wrapper {
        display: flex;
        max-width: 80%;
        gap: 4rem;
    }

    .follow-section h2 {
        font-size: 5vw;
    }

    .follow-section-title--container img {
        max-width: 5vw;
    }

    .follow-section--profile-icon {
        width: 60vmin;
    }

    .follow-section-profile-icon--container {
        position: relative;
    }

    .follow-section-profile-icon--container::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 40px;
        left: 40px;
        width: 60vmin;
        height: 60vmin;
        background: #C7C7C7;
        z-index: -1;
    }

    .follow-section--desc {
        margin-top: 1rem;
    }

    .follow-section .follow-section-desc--word {
        display: inline-block;
        font-size: 1.7vw;
        margin: 0vmin 0.5vmin;
        max-width: 80%;
        font-weight: bold;
        opacity: 0;
        transform: translateY(0px);
        transition: transform 250ms cubic-bezier(.90, .06, .15, .90), opacity 250ms ease;
    }

    .follow-section.show .follow-section-desc--word {
        opacity: 1;
        transform: translateY(-20px);
    }

    .follow-section--show-profile {
        margin-top: 1rem;
        padding: 1rem 2rem;
        font-size: 1.2vw;
    }

    #plus {
        transform: scale(.5);
    }

    #circle {
        right: 500px;
        bottom: 50px;
    }

    #square {
        left: -40px;
        bottom: -40px;
        transform: scale(.5);
    }

    .svg-lines--container {
        top: 100px;
        transform: scale(2);
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scroll-down-animation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(2rem);
    }
}

@keyframes text-infinite-loop {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0);
    }
    50% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}